@import "tailwindcss";

@theme {
  --color-primary: #461599;
  --color-primary-container: #5e35b1;
  --color-on-primary: #ffffff;
  --color-on-primary-fixed: #24005b;
  --color-primary-fixed: #eaddff;
  --color-primary-fixed-dim: #d1bcff;
  --color-on-primary-fixed-variant: #5429a7;
  --color-on-primary-container: #ceb8ff;
  
  --color-secondary: #005faf;
  --color-secondary-container: #54a0fe;
  --color-on-secondary: #ffffff;
  --color-on-secondary-fixed: #001c3a;
  --color-secondary-fixed: #d4e3ff;
  --color-secondary-fixed-dim: #a5c8ff;
  --color-on-secondary-fixed-variant: #004786;
  --color-on-secondary-container: #003567;
  
  --color-tertiary: #2f3b41;
  --color-tertiary-container: #465259;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-fixed: #111d23;
  --color-tertiary-fixed: #d7e4ec;
  --color-tertiary-fixed-dim: #bbc8d0;
  --color-on-tertiary-fixed-variant: #3c494f;
  --color-on-tertiary-container: #b8c5cc;
  
  --color-surface: #faf9f6;
  --color-surface-dim: #dbdad7;
  --color-surface-bright: #faf9f6;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f4f3f1;
  --color-surface-container: #efeeeb;
  --color-surface-container-high: #e9e8e5;
  --color-surface-container-highest: #e3e2e0;
  --color-on-surface: #1a1c1a;
  --color-on-surface-variant: #494453;
  --color-outline: #7b7484;
  --color-outline-variant: #cbc3d5;
  
  --color-background: #faf9f6;
  --color-on-background: #1a1c1a;
  
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --font-headline: var(--font-plus-jakarta-sans);
  --font-body: var(--font-lexend);
  --font-label: var(--font-lexend);
}

@layer base {
  input,
  textarea,
  select {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
  }
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  -webkit-tap-highlight-color: transparent;
}

